<% provide(:title, "Courses") %>
<div id="content">
    <div class="container">
        <h1 style="text-align:center;">All Courses</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active" id="course"><%= link_to 'Course', courses_path%></li>
                <li role="presentation" id="coordinator"><%= link_to 'Coordinators', coordinator_path, remote: true %></li>
            </ul>
        <%= render 'course', obj:@course%>
    </div>
</div>