<% provide(:title, 'New Course') %>
  <h1 style="text-align:center;">Create a new Course</h1>
  <hr>
<div class="container" style="background-color:#b2bec3;">
  <br>
    <%= render 'form', :locals => { course: @course, category: @category, location: @location } %>
</div>
